@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<h1>La liste des participant!</h1>
@for (int i = 0; i < (int)ViewData[""]; i++)
{
    <div>

    </div>
}